/* Limpeza de css*/

*{
  margin:1px;
  padding:0;
  background-color: #8400ff;
}

body{
  
  font-family: "Minecraft", sans-serif;
  color: white;
}
@font-face {
  font-family: "Minecraft";
  src: url("https://cdn.jsdelivr.net/gh/IdreesInc/Monocraft@main/dist/Monocraft-ttf/Monocraft.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
